@charset "UTF-8";

body {
	
	margin : 0;
	padding : 0;
	font-family : verdana, sans-serif;
	font-size : 13px;
}

.wholeContent {
	
	margin-left : 17%;
	margin-right : 17%;
	min-height : 400px;
	
}

footer {
	
	margin-left : 15%;
	margin-right : 15%;
	background-color: #ccc;
	padding : 20px;
	
}

#creditCount {
	position : fixed;
	width : 110px;
	top : 20%;
	left : 90%;
	background-color : yellow;
	opacity: 0.7;
}
