* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.mainWrapper {
   
}

.background {
    position: absolute;
}

.background img {
    width: 1918px;
    height: 958px;
}

.subWrapper {
    position: absolute;
}

.sidebar {
    width: 270px;
    float: left;
    height: 950px;
}

.sideBack {
    width: 270px;
    float: left;
    height: 969px;
    background-color: aqua;
    opacity: 0.5;
    filter: blur(5px); 
}

.sideContent {
    width: 270px;
    float: left;
    height: 950px;
    position: absolute;
}

.logoAndPhrase {
    height: 85px;
    padding: 5px;
    margin: 5px;
}

.titleLogo {
    padding: 5px;
    float: left;
    font-size: 45px;
}

.titlePhrase {
    padding: 15px;
    font-size: 25px;
    font-family: 'Cedarville Cursive', cursive;
}

.projectSign {
    margin: 10px;
    font-size: 14px;
    font-family: 'Gothic A1', sans-serif;
}

.list {
    padding: 20px;
    margin: 10px;
}

.oneProject {
    margin: 15px;
    float: left;
    font-size: 23px;
}

.listName {
    padding: 5px;
    margin: 10px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
}

.addProject {
    margin: 10px;
    float: right;
    font-family: 'Gothic A1', sans-serif;
    font-size: 13px;
}

.main {
    margin: 10px;
    position: absolute;
    left: 270px;
    width: 1580px;
    height: 900px;
    float: right;
    z-index: 1;
}

#topMenu {
    text-align: right;
}

#topMenu ul li {
    display: inline;
    margin: 10px;
    font-size: 50px;
}

.commentBack {
    position: absolute;
    bottom:10px;
    width:100%;
    left:-10px;
    height: 250px;
    background-color: azure;
    opacity: 0.3;
    filter: blur(5px); 
}

.commentBelow {
    position: absolute;
    bottom:50px;
    left: 120px;
    width:86%;
    font-family: 'Gothic A1', sans-serif;
    text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

.commentBelow h1 {
    font-size: 50px;
}

.commentBelow h2 {
    font-size: 30px;
}

.commentBelow p {
    font-size: 15px;
    text-shadow: none;
    font-weight: bold;
}

.commentAdjust {
    position: absolute;
    bottom:40px;
    left: 850px;
    width:14%;
    font-size: 30px;
}

.emptyFooter {
    
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
}

/* MyPageModal - background */
.MyPageModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MyPageModal - content */
.MyPageModalContent {
    background-color: #fefefe;
    margin-left: 1590px;
    margin-top: 220px;
    padding: 0px;
    border: 1px solid #888;
    width: 280px;
    height: 280px; /* Could be more or less, depending on screen size */
}

/* StickyNoteModal - background */
.StickyNoteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* disable scroll as it does not need to */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* StickyNoteModal - content */
.StickyNoteModalContent {
    margin-left: 150px;
    margin-top: 100px;
    padding: 0px;
    width: 1600px;
    height: 770px; /* Could be more or less, depending on screen size */
}

/* RegistrationModal - background */
.RegistrationModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* RegistrationModal - content */
.RegistrationModalContent {
    background-color: #fefefe;
    margin-left: 750px;
    margin-top: 200px;
    padding: 0px;
    border: 1px solid #888;
    width: 400px;
    height: 350px; /* Could be more or less, depending on screen size */
}

/* MainComment - background */
.MainCommentModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MainComment - content */
.MainCommentModalContent {
    background-color: #fefefe;
    margin-left: 750px;
    margin-top: 200px;
    padding: 0px;
    border: 1px solid #888;
    width: 400px;
    height: 400px; /* Could be more or less, depending on screen size */
}