<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
     <!--  <typeAlias type="com.cafe24.timetable.main.vo.ProjectVO" alias="ProjectVO" />
      <typeAlias type="com.cafe24.timetable.main.vo.CommentVO" alias="CommentVO" />
      <typeAlias type="com.cafe24.timetable.main.vo.MyPageVO" alias="MyPageVO" /> -->
      <typeAlias type="com.cafe24.timetable.main.vo.SubjectVO" alias="SubjectVO" />
      <typeAlias type="com.cafe24.timetable.main.vo.TimeTableVO" alias="TimeTableVO" />
   </typeAliases>
</configuration>