.manageWrapper {
    width: 700px;
    height: 600px;
}

.title {
    width: inherit;
    height: 70px;
    background-color: aliceblue;
}

.menu {
    width: inherit;
    height: 80px;
    background-color: darkgray;
}

.title div {
    width: 100px;
    height: inherit;
    display: table;
}

.menu div {
    width: 100px;
    height: inherit;
    display: table;
}

a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.name {
    float: left;
}

.close, .trash {
    float: right;
}

.menu div {
    float: left;
}

.content {
    width: 450px;
    height: 390px;
    background-color: beige;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.pj {
    height: 90px;
}

.pjName {
    height: 40px;
}

    .pjInput {
    height: 50px;
}

.dpt {
    height: 260px;
    margin-top: 20px;
}

.dptName {
    height: 40px;
}

.dptdpt {
    height: 220px;
}

.photo {
    width: 250px;
    height: 390px;
    background-color: cadetblue;
    float: right;
}

.image {
    height: 200px;
    padding: 20px;
}

.record {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.fa-grimace {
    font-size: 180px;
}

.footer {
    width: inherit;
    height: 60px;
    background-color: burlywood;
    clear: both;
}

.done {
    width: 70px;
    height: 40px;
    text-align:center;
    display: table;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    background-color: aquamarine;
    
}    

.done a {
    display: table-cell;
    vertical-align: middle;
}
