/* 
div {
    width: 300px;
    height: 420px;
}
 */
input {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
}

#wrapper {
    height: 320px;
}

#list {
    width: 280px;
    height: 60px;
    background-color:darkgrey;
    display: table;
    padding: 10px;
    color: aliceblue;
    float: left;
}

p {
    display: table-cell;
    vertical-align: middle;
}

/* i {
    font-size: 20px;
    padding: inherit;
} */